.app {
  background-color: rgb(33, 29, 44);
  width: 100%;
  height: 800px;
}

.app-section {
  padding: 30px;
}

.app-contrainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  text-align: center;
  color: #ffffff;
  
}
